$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  padding: 10%;
  background: {
    color: $violet;
    image: url("../images/bg-mobile.svg");
    repeat: no-repeat;
  }
}

.header {
  width: 125px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.main {
  &-illustration {
    width: 100%;
    margin: 50px 0;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  &-content {
    color: #ffffff;
    text-align: center;
    margin-bottom: 75px;
    h1 {
      margin-bottom: 15px;
      font: {
        size: 25px;
        weight: 600;
      }
    }
    p {
      color: #e0d4f1;
      margin-bottom: 30px;
      font-family: "Open Sans";
      line-height: 1.6;
    }
    button {
      color: $violet;
      width: 70%;
      padding: 15px 0;
      border: none;
      border-radius: 50px;
      background-color: #ffffff;
      box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    }
  }
}

.footer {
  width: 120px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  a {
    display: grid;
    place-content: center center;
    width: 30px;
    height: 30px;
    border: 1px solid #ffffff;
    border-radius: 50%;
  }
  svg {
    fill:#ffffff;
  }
}

@media screen and (min-width: 1280px) {
  body {
    padding: 5%; //modified
    height: 100vh;
    background: {
      image: url("../images/bg-desktop.svg"); //modified
      size: cover; //added
    }
  }
  
  .header {
    width: 200px; //modified
  }
  
  .main {
    display: flex; //added
    justify-content: space-between; //added
    margin: 75px 0 0; //added

    &-illustration {
      width: 0; //modified
      flex-basis: 60%; //added
      margin: 0 0; //modified
    }
  
    &-content {
      display: flex; //added
      align-items: center; //added
      flex-basis: 40%; //added
      text-align: left; //modified
      margin-bottom: 0; //modified

      h1 {
        margin-bottom: 20px; //modified
        font: {
          size: 40px; //modified
        }
      }

      p {
        font-size: 17px; //added
      }

      button {
        width: 40%; //modified
        padding: 20px 0; //modified
        font-size: 18px; //added
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5); //modified
        &:hover { //added
          color: #ffffff;
          background-color: $soft-magenta;
          cursor: pointer;
        }
      }
    }
  }
  
  .footer {
    position: absolute; //added
    right: 5%; //added
    bottom: 5%; //added
    width: 150px; //modified
    margin: 0; //modified

    a {
      width: 40px; //modified
      height: 40px; //modified
      &:hover { //added
        border: 1px solid $soft-magenta;
        svg {
          fill: $soft-magenta;
        }
      }
    }
  }
}