$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  padding: 10%;
  background: {
    color: $violet;
    image: url("../images/bg-mobile.svg");
    repeat: no-repeat;
  }
}

.header {
  width: 125px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.main {
  &-illustration {
    width: 100%;
    margin: 50px 0;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  &-content {
    color: #ffffff;
    text-align: center;
    margin-bottom: 75px;
    h1 {
      margin-bottom: 15px;
      font: {
        size: 25px;
        weight: 600;
      }
    }
    p {
      margin-bottom: 30px;
      font-family: "Open Sans";
      line-height: 1.6;
    }
    button {
      color: $violet;
      width: 70%;
      padding: 15px 0;
      border: none;
      border-radius: 50px;
      background-color: #ffffff;
      box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    }
  }
}

.footer {
  width: 120px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  a {
    display: grid;
    place-content: center center;
    width: 30px;
    height: 30px;
    border: 1px solid #ffffff;
    border-radius: 50%;
  }
  svg {
    fill:#ffffff;
  }
}